#body{

 font-family: "Verdana";
}
#button{
position: absolute;
  left: 490px;
  top: 410px;
background-color: orange;
border-radius: 4px;
font-size: 30px;
color: white;
font-weight: lighter;
}
#flatty{
position: absolute;
  left: 100px;
font-size: 20px;
}
#member{
position: absolute;
  right: 100px;
font-size: 15px;
font-weight: lighter;

}
#make{
position: absolute;
  left: 220px;
  top: 200px;
  font-size: 30px;
font-weight: lighter;
font-size: 50px;
}
#form{
position: absolute;
  left: 220px;
  top: 400px;
  padding: 8px;
}

#top {

background-image: url("img1.png");
height: 830px;
color: white;
}
#webimage{
position: relative;
  right: 150px;
}
#noteimage{
position: relative;
  left: 150px;
}